<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../">
    <title>Document</title>
</head>

<body>
    <div>
        LoremipsumdolorsitametconsecteturadipisicingelitMagniquosesseiustohicconsequuntur autem totam
        illum minima illo quaerat debitis, ipsam, exercitationem praesentium quisquam nulla eos nam unde architecto,
        voluptatibus ut odit repudiandae provident quis soluta! Quia, facere, quas aspernatur, totam consequatur culpa
        nam id magnam itaque eligendi autem quo fugit asperiores? Voluptatibus, eveniet. Et repellendus sequi, deleniti
        repudiandae eius similique accusantium! Sed quisquam necessitatibus consequuntur itaque voluptas non culpa
        voluptates, eligendi sint dolore at cumque deserunt corporis, quae excepturi consectetur molestias ipsam
        quibusdam dignissimos harum illum amet obcaecati sequi reprehenderit! Dolor vel cupiditate sunt delectus
        corrupti. Hic, saepe.

    </div>

    <!-- <img src="../../assets/images/hex-code.JPG" alt=""> -->
    <img src="./" alt="">
</body>

</html>